* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: bottom;
    color: #333;
}

body {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
.container {
    width: 70%;
    max-width: 1200px;
    min-width: 400px;
    margin: 0 auto;
}

.container2 {
    width: 80%;
    max-width: 1500px;
    min-width: 400px;
    margin: 0 auto;
}

// 定義
$main: #F7CCC1;
$pink: #FFE7E0;
$red: #AB523C;
$gray: #a9a9a9;
$green: #92D1BC;
$yellow: #F6D55C;
$white: #F7F7F7;


@mixin title_card($title) {
    text-align: center;
    padding: 50px 0 80px 0;
    h1  {
        color: $title;
        font-size: 65px;
    }
    p {
        color: $gray;
        font-size: 25px; 
    }
}


// header

header {
    background-color: $main;
    height: 55vw;
    max-height: 800px;
    min-height: 530px;
}

.header_nav {
     padding-top: 50px;
     text-align: center;
    nav ul li {
        display: inline-block;
        color: $gray;
        font-size: 1rem;
        padding: 15px 30px;
        margin: 0 10px;
        background-color: $pink; 
        border-radius: 40px;
        cursor: pointer;
        border-bottom: 2px solid #a9a9a9;
        user-select: none;
        &:active {
            border-bottom: none;
            transform: translate(0,2px);
        }
    }
}

.header_content {
    display: flex;
    justify-content: space-around;
}

.header_img {
    width: 60%;
    img {
        max-width: 900px;
        min-width: 300px;
        width: 100%;
        border-radius: 70%;
        padding: 60px 0 80px 10%;
    }
}

.header_text {
    width: 30%;
    p {
        text-align: center;
        padding-top: 150px;
        margin-left: 5%;
        margin-right: 15%;
        color: #fff;
        // font-size: 2.5rem;
        font-weight: bold;
    }
}



// 自己紹介
.profile, .skill {
    padding-bottom: 100px;
    background-color: $white;
}


.profile .title ,.skill .title {
    @include title_card($yellow);
}

.works .title ,.contact .title {
    @include title_card($white);
}


.profile_wrap {
    display: flex;
    justify-content: space-around;
}


.pro_text {
    width: 40%;
    font-size: 20px;
    line-height: 2;
    letter-spacing: 0.15em;
}

.pro_img {
    width: 40%;
    text-align: center;
    img {
        width: 60%;
        object-fit: cover;
    }
}


// スキル

.skill {
    text-align: center;   
}


.skill_wrap {
    display: flex;
    justify-content: space-around;
    h3 {
        font-size: 25px;
        margin-bottom: 15px;
    }
    ul li {
        font-size: 20px;
        letter-spacing: 0.1em;
    }
}

.skill_r, .skill_c, .skill_l {
    background-color: $yellow;
    padding: 50px 30px;
    border-radius: 40px;
}


// 作品

.works {
    background: url(../imgs/bg.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;  
    width: 100%;
    background-size: cover;
    padding-bottom: 100px;
}

.works_wrap li {
    display: flex;
    margin: 40px;
    padding-bottom: 40px;
    justify-content: space-around;
    align-items: center;
    border-bottom: 3px dashed $white;
    &:nth-child(even) {
        flex-direction: row-reverse;
    }
    &:last-child {
        border-bottom: none;
        margin-bottom: 0;
    }
    img {
        width: 30%;
        height: 40%;
        max-height: 700px;
        object-fit: cover;
        border-radius: 40px;
    }
    .works_text {
        width: 40%;
        font-size: 20px;
        a.btn {
            display: inline-block;
            padding: 30px;
            background-color: $yellow;
            border-radius: 40px;
            font-size: 30px;
            color: #fff;
            font-weight: bold;
            margin-top: 30px;
            cursor: pointer;
            text-align: center;
            -webkit-text-stroke: 0.3px #f69d5c;
            font-size: 35px;
            &:hover {
                background-color: #f69d5c;
            }
        }
    }
}


// 問い合わせ

.contact{
    padding-bottom: 100px;
    background-color: $main;
}

.form {
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
    input {
        border: 1px solid $gray;
        border-radius: 40px;
        height: 60px;
        width: 55%;
        margin: 15px 0 45px 0;
        padding-left: 30px;
        font-size: 20px;
    }
    textarea {
        border: 1px solid $gray;
        border-radius: 40px;
        height: 160px;
        width: 55%;
        margin: 15px 0 45px 0;
        padding-left: 30px;
        padding-top: 35px;
        font-size: 20px;
    }
    button {
        width: 20%;
        padding: 20px 20px;
        border-radius: 40px;
        background-color: $yellow;
        border: 1px solid $gray;
        font-size: 20px;
        cursor: pointer;
        &:hover {
            background-color: #f69d5c;
        }
    }
}

// footer
footer {
    background-color: $gray;
    text-align: center;
    padding: 50px;
    nav {
        text-align: center;
        li {
            display:inline-block;
            a {
            display: block;
            padding: 30px 10px;
            cursor: pointer;
            font-size: 20px;
            }
        }
    }
}

// レスポンシブ

@media screen and (min-width: 1200px) {
    .profile ,.skill ,.contact {
        padding: 100px 0 150px 0;
    }
    .header_text p {
        font-size: 60px;
    }

    .skill_wrap {
        h3 {
            font-size: 35px;
            margin-bottom: 30px;
        }
        ul li {
            font-size: 25px;
            letter-spacing: 0.1em;
        }
    }
    .skill_r, .skill_c, .skill_l {
        padding: 100px 35px;
    }
    
}

@media screen and (max-width: 1199px) {
    .header_text {
        p {
            text-align: center;
            padding-top: 150px;
            margin-left: 0;
            margin-right: 5%;
            font-size: 30px;
            font-weight: bold;
        }
    }

    
    .profile_wrap {
        flex-wrap: wrap;
        flex-direction: column-reverse;
        text-align: center;
    }
    .pro_text {
        width: 80%;
        font-size: 20px;
        margin: 100px auto 0 auto;;
    }
    
    .pro_img {
        width: 70%;
        margin: 0 auto;
        img {
            object-fit: cover;
        }
    }

    .works_wrap li {
        flex-wrap: wrap;
        margin: 40px;
        padding-bottom: 40px;
        margin: 80px 0;
        &:nth-child(even) {
            flex-direction: row-reverse;
        }
        img {
            width: 80%;
            height: 40%;
            max-height: 700px;
            object-fit: cover;
        }
        .works_text {
            width: 80%;
            font-size: 20px;
            margin-top: 100px;
            text-align: center;
            a.btn {
                font-size: 30px;
            }
        }
    }

    .skill_wrap {
        justify-content: flex-start;
        text-align: center;
        width: 100%;
        h3 {
            font-size: 25px;
            margin-bottom: 30px;
        }
        ul li {
            font-size: 15px;
            letter-spacing: 0.1em;
        }
    }
    .skill_r, .skill_c, .skill_l {
        padding: 50px 20px;
        width: 100%;
    }
    .skill_r {
        border-radius: 0 40px 40px 0;
    }
    .skill_c {
        border-radius: 0;
        border: 1px dashed $white;
    }
    .skill_l {
        border-radius: 40px 0 0 40px;
    }
}


@media screen and (max-width: 899px) {
    .header_nav {
        padding-top: 50px;
        text-align: center;
       nav ul li {
           font-size: 15px;
           padding: 10px 15px;
           margin: 0 5px;
       }
   }
   
    .header_content {
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
    
    .header_img {
        width: 60%;
        margin: 0 auto;
        img {
            width: 100%;
            padding: 30px 0 20px 0;
        }
    }
    
    .header_text {
        width: 100%;
        p {
            text-align: center;
            padding-top: 30px;
            margin-left: 10%;
            margin-right: 0;
        }
    }

    .pro_text {
        margin: 50px auto 0 auto;;
    }

    .works {
        padding-bottom: 50px;
    }

    .works_wrap li {
        margin: 10px;
        padding-bottom: 40px;
        margin: 30px 0;
        img {
            width: 80%;
            height: 40%;
            max-height: 700px;
            object-fit: cover;
        }
        .works_text {
            width: 80%;
            font-size: 20px;
            margin-top: 50px;
            text-align: center;
            a.btn {
                font-size: 30px;
            }
        }
    }
    
    .form {
        input {
            width: 70%;
        }
        textarea {
            width: 70%;
        }
        button {
            width: 40%;
        }
    }

    footer {
        background-color: $gray;
        text-align: center;
        padding: 50px;
        nav {
            text-align: center;
            li {
                display:inline-block;
                a {
                display: block;
                padding: 25px 5px;
                cursor: pointer;
                font-size: 15px;
                }
            }
        }
    }
    
}